[user]
    email = pflouret@gmail.com
    name = Pablo Flouret

[alias]
    #amend = !git log -n 1 --pretty=format:%B | git commit --amend -F -
    amend = commit --amend -C HEAD
    addamend = !git add . && git amend
    b = branch
    ba = branch -a
    bb = !git branch|grep '^\\*'|sed 's/^\\* //'
    ci = commit
    co = checkout
    cp = cherry-pick
    diffw = diff --word-diff
    diffs = diff --stat
    diffc = diff --cached
    f = fetch --prune
    p = pull --rebase --prune
    l = log --format='%Cblue%h%Creset %an %Cgreen%ar:%Creset %s' -n 15
    ll = log --format='%Cblue%h%Creset %an %Cgreen%ar:%Creset %s'
    lf = log --pretty=medium --stat
    l1 = log --pretty=oneline
    ls = ls-files -v .
    gitkf = !gitk master..origin &
    r = remote -v
    st = status
    stp = !git -p status
    unmerged = ls-files -u
    mt = mergetool
    last-commit-message = !git log -n 1 --pretty=format:%B|tee `git rev-parse --show-toplevel`/.git/MERGE_MSG
    copy-last-commit-message = !git log -n 1 --pretty=format:%B|pbcopy
    reset-last = !git copy-last-commit-message && git reset HEAD^ && pbpaste > `git rev-parse --show-toplevel`/.git/MERGE_MSG
    personal = config user.email \"pflouret@gmail.com\"

[branch]
    autosetupmerge = true

[color]
    diff = auto
    status = auto
    branch = auto
    log = auto

[core]
    excludesfile = ~/.gitignoreglobal
    precomposeunicode = true
    sparseCheckout = true

[merge]
    tool = vim
    log = true

[mergetool "vim"]
    cmd = "vim $MERGED"
    trustExitCode = true

[mergetool]
    keepBackup = false

[push]
    default = current

[gc]
    auto = 0

[git-p4]
    attemptRCSCleanup = true
    detectRenames = true
    detectCopies = true

[interactive]
    singlekey = true
[rerere]
    enabled = true

